{{#each hangs as |hang|}}
  <section class="hang_section" data-id="{{hang._id}}">
    <div class="hang-content">
        <p class="title">Title:  {{hang.title}}</p>
        <p class="date"> Date:  {{hang.date}}   Time:  {{hang.time}}   Location:  {{hang.location}}</p>
        <p class="date">Description:   {{hang.description}}</p>
        <button id="rsvp" data-id="{{hang._id}}" class="btn btn-rsvp btn-sign">RSVP</button>
    </div>
  </section>

{{/each}}
