{{#each hangs as |hang|}}
{{#if hang.currentUserOwns}}
  <section class="hang_section" data-id="{{hang._id}}">
    <div class="hang-content">
        <h3>{{hang.title}}</h3>
        <p class="date"> Date:  {{hang.date}}   Time:  {{hang.time}}   Location:  {{hang.location}}</p>
        <p class="date">Description:   {{hang.description}}</p>
        <button data-id="{{hang._id}}" class="btn btn-danger">Delete</button>
        <button data-id="{{hang._id}}" class="btn btn-rsvp btn-sign">RSVP</button>
        <button id="edit-show" class="btn btn-sign">Edit</button>
    </div>
    <div class="update">
      <form id="updateButton" data-id="{{hang._id}}">
        <h5>Update Event</h5>
        <fieldset>
          <input type="text" name="hang[title]" value="{{hang.title}}" placeholder="Title">
          <input type="date" name="hang[date]" value="{{hang.date}}" placeholder="Date">
          <input type="text" name="hang[time]" value="{{hang.time}}" placeholder="Time">
          <input type="text" name="hang[location]" value="{{hang.location}}" placeholder="Location">
          <input type="text" name="hang[description]" value="{{hang.description}}" placeholder="Description of Event">
          <button type="submit" class="btn btn-sign" value="Edit Event">Edit</button>
        </fieldset>
      </form>
    </div>
    <!-- <button data-id="{{hang._id}}" class="btn btn-danger">Delete Hang!</button>
    <button data-id="{{hang._id}}" class="btn btn-rsvp btn-sign">RSVP</button> -->

  </section>
  {{/if}}
{{/each}}
