{{#each hangs as |hang|}}
{{#if hang.isGoing}}
  <section class="hang_section" data-id="{{hang._id}}">
    <div class="hang-content">
        <p class="title">Title:  {{hang.title}}</p>
        <p class="date"> Date:  {{hang.date}}   Time:  {{hang.time}}   Location:  {{hang.location}}</p>
        <p class="date">Description:   {{hang.description}}</p>
    </div>
  </section>
  {{/if}}
{{/each}}
